body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #f2f2f2;
    margin: 0;
    padding: 14px 16px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}


.bouton-acheter {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton-acheter a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.activee {
    background-color: hsl(0, 1%, 43%);
    color: white;
}


.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     max-width: 100%;
     max-height: 100%;
   }
   
   .text {
    font-size: 14px;
    margin-right: 1px;
}